@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
.sidebar{
    height: 100vh;
    display: flex;
    width: 250px;
    border-right: 1px solid #eee;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #f9f9f9;
}
.sidebar .website_profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-size: 10px;
    padding: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #333;
    border-bottom: 1px solid #555;
}
.sidebar .website_profile .logo{
    width: 100px;
}
.sidebar .admin_profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #a80000;
    background-color: #333;
    margin-bottom: 5px;
    padding: 10px;
}
.sidebar .admin_profile .logout-button{
    font-size: 12px;
    font-family: 'Lato';
    padding: 5px 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: red;
}
.sidebar .admin_profile .profile{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Lato';;
}
.sidebar .admin_profile .profile img {
    width: 35px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 10px;
}
.sidebar .admin_profile .profile .username_and_role{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar .admin_profile .profile .username_and_role .username{
    font-size: 15px
}
.sidebar .admin_profile .profile .username_and_role .role{
    font-size: 10px;
    color: #ccc;
}
.list_link{
    list-style-type: none;
    padding: 10px;
}
.list_link .link_item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.list_link .list_link_header{
    font-family: 'Lato';
    font-size: 15px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 5px;
}
.list_link .list_link_header i {
    font-size: 18px;
    margin-right: 5px;
    color: #aaa;
}
.list_link .list_link_header span {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
}
.list_link .link_item a {
    padding: 8px 10px;
    border-left: 3px solid #a80000;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: 'Lato';
    font-size: 12px;
    transition: 0.2s;
    margin-left: 12px;
    margin-bottom: 10px;
}
.list_link .link_item a:hover{
    background-color: #a80000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white!important;
    padding-left: 15px;
}